/*.div-preloader {*/
    /*width: 900px;*/
    /*margin: auto;*/
    /*padding: 10px;*/
    /*height: 100%;*/
    /*text-align: center;*/
/*}*/

.div-preloader {
    position: fixed;
    z-index: 500;
    width: 70%;
    text-align: center;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .div-preloader   {
        width: 500px;
        left: calc(50% - 250px);
    }
}